/* Sidebar Styles */
.sidebar {
  width: 250px;
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #fff;
  /* position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto; */
  box-shadow: 0 0px 15px 0 #000;
  z-index: 99;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  width: 60px;
  height: auto;
  border-radius: 30%;
}

.logo-text {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-menu li:last-child {
  border-bottom: none;
}

.sidebar-menu li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.sidebar-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 30px;
}

/* Icon Styles */
.sidebar-menu li a i {
  margin-right: 10px;
}

.logout {
  padding: 20px;
  text-align: center;
}

.logout a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.logout a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 30px;
}
